.td-product-list {
	list-style: none;
	padding-top: 30px;
}
.td-productbox{
	border:0; 
	@include box-shadow;
	padding: 30px;
	.btn-primary {
		background-color: $sky;
		&:hover {
			background-color: $green;
		}
	}
}
.td-product-title {
	font-weight: 200;
}
.td-product-vendor-name {
	color: $sky; 
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}
.td-product-tags {
	line-height: 20px;
	margin-bottom: 10px; 
	> * {
		font-size: 13px;
		&:nth-child(4n+1) { background-color: $sky;}
		&:nth-child(4n+2) { background-color: $green;}
		&:nth-child(4n+3) { background-color: $orange;}
		&:nth-child(4n+4) { background-color: $ocean;}
	}
}
.td-product-description {
	font-size: 13px;
}
